.headers
  // flex-between()
  position absolute
  top 0
  right 0
  left 0
  padding 0 $padding
  width 100%
  height $baseHeadHeight
  line-height $baseHeadHeight
  text-align center
  overflow hidden
  background-color #fff
  border-bottom $borderDefault
  z-index 20

  // &::after
  // content ""
  // display table
  // clear both
  .title
    font-size 1rem

  .icon-left
    position absolute
    top 0
    left $padding

  .icon-right
    position absolute
    top 0
    right $padding