// html
// font-size 4.266667vw
html, body
  margin 0
  padding 0
  display block
  width 100%
  height 100%
  overflow hidden
  background-color $bgColorDefault
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  position relative
  line-height $lineHeight
  font $fontDefault
  color $colorDefault

body *
  box-sizing border-box

img
  max-width 100%

table
  width 100%
  border 0
  border-collapse separate
  border-spacing 0
  vertical-align middle

caption, th, td
  vertical-align middle

a img
  border none

a
  text-decoration none
  color inherit

a:hover
  color $colorDefault