.weui-grids
	position relative
	overflow hidden
	border-top $borderDefault
	border-left $borderDefault
	background-color #fff

.weui-grid
	position relative
	float left
	padding 0.75rem
	width $weuiGridColumnWidth
	box-sizing border-box
	border-right $borderDefault
	border-bottom $borderDefault

.weui-grid__icon
	flex-center()
	width $weuiGridIconSize
	height $weuiGridIconSize
	margin 0 auto

	img
		display block
		width 100%
		height 100%

.weui-grid__label
	display block
	margin 0.2rem 0 0 0
	text-align center
	color $weuiGlobalColor
	font-size $weuiGridFontSize
	white-space nowrap
	text-overflow ellipsis
	overflow hidden
