// 主题色 color

// 文案色
$colorDefault = #24292e
$colorDefaultActive = #f60
// 次级文案
$colorSecondary = #666
// 灰色文案
$colorGray = #999
// 更灰色文案
$colorGrayLight = #ccc
$colorPrimary = #1AAD19
$colorWarn = #E64340
$colorTips = #B2B2B2
$colorBg = #f5f5f5
// link color
$linkColorDefault = #586C94
// background color
$bgColor = #FFF
$bgColorDefault = #F5F5F5
$bgColorWeiget = #EFEFF4
$bgColorActive = #ECECEC
// line color
$lineColorLight = #E5E5E5
$borderColor = #EEEEEE
$lineColorDark = #BCBAB6
// text
$textColorTitle = $colorDefault
$textColorSecondaryTitle = $colorDefault
$textColorTips = $colorTips
$textColorWarn = $colorWarn
$textColorGray = $colorGray