// ------------------------------
// font
$baseWidth = 320px // iphone5 的尺寸
$fontSizeDefault = 0.85rem // iphone5 的字体大小
$fontFamily = 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif
$fontFamilyCode = 'Courier New', Arial, sans-serif
$fontDefault = $fontSizeDefault $fontFamily
$fontCodeDefault = $fontSizeDefault $fontFamilyCode
$lineHeight = 1.6
// ------------------------------
// layout
$margin = 0.75rem
// 约等于0.5
$marginTransverse = $margin * 0.67
$padding = 0.75rem
// 约等于0.5
$paddingTransverse = $padding * 0.67
$baseHeadHeight = 2.2rem
$baseFootHeight = 2.7rem
// ------------------------------
// weui variable
$weuiGridColumnWidth = 33.33333%
$weuiGridIconSize = 2rem
$weuiGridIconSize = 2rem
$weuiGlobalColor = $colorDefault
$weuiGridFontSize = $fontSizeDefault