.users
  flexbox()
  justify-content(flex-start)
  align-items(center)
  padding $padding
  background-color $bgColor

  .users-head
    .iconfont-ebx
      font-size 3rem
      color rgb(183, 211, 250)

  .users-info
    margin-left $margin

  .users-info_title
    margin-bottom 0.2rem
    font-size 1rem

  .users-info_subtitle
    margin-bottom 0.2rem
    color #999999

  .users-info_role
    display inline-block
    padding 0.1rem 0.2rem
    margin-right 0.2rem
    border-radius 0.2rem
    background-color #eee
    font-size 0.6rem

  [data-role='60']
    background-color #f60
    color #fff
